<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-purple"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">Ingresados</span>
			<span class="info-box-number"><%=@ingresados%></span>
		</div>
	</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-blue"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">Notificados</span>
			<span class="info-box-number"><%=@notificados%></span>
		</div>
	</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-green"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">Aceptados</span>
			<span class="info-box-number"><%=@aceptados%></span>
		</div>
	</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text" style="font-size:80%;">Aceptados<br/> con Observaciones</span>
			<span class="info-box-number"><%=@aceptados_obs%></span>
		</div>
	</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-red"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">Rechazados</span>
			<span class="info-box-number"><%=@rechazados%></span>
		</div>
	</div>
</div>
<!-- <div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-aqua"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">Enviados a externos</span>
			<span class="info-box-number"><%#=@enviados%></span>
		</div>
	</div>
</div> -->
<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-teal-active"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">Traspasado a ONI</span>
			<span class="info-box-number"><%=@traspasados%></span>
		</div>
	</div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
	<div class="info-box">
		<span class="info-box-icon bg-gray"><i class="fa fa-files-o"></i></span>
		<div class="info-box-content">
			<span class="info-box-text">Cerrados</span>
			<span class="info-box-number"><%=@cerrados%></span>
		</div>
	</div>
</div>
