<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Causas</h3>
		<br/>
		<br/>
		<div class="input-group input-group-sm pull-left">
			<input id="txtsearch" type="text" value="" class="form-control">
			<span class="input-group-btn">
				<button id="btnsearch" class="btn btn-info btn-flat" type="button">Buscar!</button>
			</span>
		</div>
		Buscar por:&nbsp;&nbsp;<input type="radio" name="kind" value="rut" checked>&nbsp;RUT,
		&nbsp;<input type="radio" name="kind" value="corte">&nbsp;Corte,
		&nbsp;<input type="radio" name="kind" value="rol">&nbsp;Rol,
		&nbsp;<input type="radio" name="kind" value="ningreso">&nbsp;Número&nbsp;ingreso.
		<br/>
	</div>
	
	<% if params.has_key?(:estadocolmena) %>
	<div class="box-body">
		<% case params[:estadocolmena] %>
		<% when 'ingresado' %>
			<button type="button" class="tonotificado btn btn-block btn-primary">Marcar como notificado</button>
<!-- 		<%# when 'notificado' %>
			<%# case params[:estadocolmenasituacion] %>
			<%# when 'aceptado' %>
				<button type="button" class="toenviadoexterno btn btn-block btn-info">Marcar como enviado a externos</button>
			<%# when 'aceptadoobs' %>
				<button type="button" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
			<%# when 'rechazado' %>
			<%# when 'traspasadooni' %>
			<%# else %>
				<button type="button" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
				<br/>
				<button type="button" class="toaceptadoobs btn btn-block btn-warning">Marcar como aceptado con observaciones</button>
				<br/>
				<button type="button" class="torechazado btn btn-block btn-danger">Marcar como rechazado</button>
			<%# end %>
		<%# when 'enviadoexterno' %>
			<%# if params[:estadocolmenasituacion] != 'traspasadooni' %>
				<button type="button" class="totraspasadooni btn btn-block btn-info">Marcar como traspasado a ONI</button>
			<%# end %> -->
		<% end %>
	</div>
	<% end %>

	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
			<thead>
				<tr>
					<% if params.has_key?(:estadocolmena) && params[:estadocolmena] === 'ingresado' %><th></th><% end %>
					<th>N. Ingreso</th>
					<th>Ubicacion</th>
					<th>Corte</th>
					<th>F. Ingreso</th>
					<th>F. Ubicacion</th>
					<th>E. Recurso</th>
					<th>E. Procesal</th>
					<th>E. Colmena</th>
				</tr>
			</thead>
			<tbody>
			<% @cases.each do |obj| %>
			<tr>
				<% if params.has_key?(:estadocolmena) && params[:estadocolmena] === 'ingresado' %><td><input type="checkbox" name="select" value="<%=obj.id%>"></td><% end %>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.ningreso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.ubicacion %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.corte %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.fecha_ingreso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.fecha_ubicacion %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_recurso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_procesal %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_colmena %><% end %></td>
			</tr>
			<% end %>
			</tbody>
			</table>
		</div>
	</div>
	<div class="box-footer">
		<%= will_paginate @cases, :next_label => 'Adelante >>', :previous_label => '<< Atras' %>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('.tonotificado').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				// console.log($(this).val());
				$.ajax({
					method: "GET",
					url: "/api/estado/" + $(this).val() + "/notificado",
					success: function(data){
						// location.reload();
					}
				});
			});
			location.reload();
		});
		$('.toaceptado').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				// console.log($(this).val());
				$.ajax({
					method: "GET",
					url: "/api/situacion/" + $(this).val() + "/aceptado",
					success: function(data){
						// location.reload();
					}
				});
			});
			location.reload();
		});
		$('.toaceptadoobs').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				// console.log($(this).val());
				$.ajax({
					method: "GET",
					url: "/api/situacion/" + $(this).val() + "/aceptadoobs",
					success: function(data){
						// location.reload();
					}
				});
			});
			location.reload();
		});
		$('.torechazado').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				// console.log($(this).val());
				$.ajax({
					method: "GET",
					url: "/api/situacion/" + $(this).val() + "/rechazado",
					success: function(data){
						// location.reload();
					}
				});
			});
			location.reload();
		});
	});
</script>
