<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Causas</h3>
		<br/>
		<br/>
		Corte&nbsp;&nbsp;
		<select id="corte" name="corte" >
			<option value="all" selected="selected">Todas</option>
			<option value="antofagasta">C.A. de Antofagasta</option>
			<option value="arica">C.A. de Arica</option>
			<option value="chillan">C.A. de Chillan</option>
			<option value="concepcion">C.A. de Concepción</option>
			<option value="copiapo">C.A. de Copiapó</option>
			<option value="coyhaique">C.A. de Coyhaique</option>
			<option value="iquique">C.A. de Iquique</option>
			<option value="serena">C.A. de La Serena</option>
			<option value="montt">C.A. de Puerto Montt</option>
			<option value="arenas">C.A. de Punta Arenas</option>
			<option value="rancagua">C.A. de Rancagua</option>
			<option value="miguel">C.A. de San Miguel</option>
			<option value="santiago">C.A. de Santiago</option>
			<option value="talca">C.A. de Talca</option>
			<option value="temuco">C.A. de Temuco</option>
			<option value="valdivia">C.A. de Valdivia</option>
			<option value="valparaiso">C.A. de Valparaíso</option>
			<option value="suprema">Corte Suprema</option>
		</select>
		<br/>
		<br/>
		Fecha&nbsp;Desde&nbsp;<input type="date" name="desde">
		&nbsp;Hasta&nbsp;<input type="date" name="hasta">
		<br/>
		<br/>
		<div class="input-group input-group-sm pull-left">
			<input id="txtsearch" type="text" value="" class="form-control">
			<span class="input-group-btn">
				<button id="btnsearch" class="btn btn-info btn-flat" type="button">Buscar!</button>
			</span>
		</div>
		Buscar por:&nbsp;&nbsp;<input type="radio" name="kind" value="rut">&nbsp;RUT,
		<!-- &nbsp;<input type="radio" name="kind" value="corte">&nbsp;Corte, -->
		&nbsp;<input type="radio" name="kind" value="rol">&nbsp;Rol,
		&nbsp;<input type="radio" name="kind" value="ningreso">&nbsp;Número&nbsp;ingreso.
		<br/>
	</div>
	
	<% if params.has_key?(:estadocolmena) %>
	<div class="box-body">
		<% if params.has_key?(:estadocolmena) && params[:estadocolmena] === 'ingresado' %>
			<button type="button" class="tonotificado btn btn-block btn-primary">Marcar como notificado</button>
		<% elsif params.has_key?(:estadocolmena) && params[:estadocolmena] === 'enviadoexterno' %>
			<button type="button" class="tocerrado btn btn-block btn-gray">Marcar como cerrado</button>
		<% end %>
	</div>
	<% end %>

	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
			<thead>
				<tr>
					<% if params.has_key?(:estadocolmena) && (params[:estadocolmena] === 'ingresado' || params[:estadocolmena] === 'enviadoexterno') %><th></th><% end %>
					<th>N. Ingreso</th>
					<th>Ubicacion</th>
					<th>Corte</th>
					<th>F. Ingreso</th>
					<th>F. Ubicacion</th>
					<th>E. Recurso</th>
					<th>E. Procesal</th>
					<th>E. Colmena</th>
				</tr>
			</thead>
			<tbody>
			<% @cases.each do |obj| %>
			<tr>
				<% if params.has_key?(:estadocolmena) && (params[:estadocolmena] === 'ingresado' || params[:estadocolmena] === 'enviadoexterno') %><td><input type="checkbox" name="select" value="<%=obj.id%>"></td><% end %>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.ningreso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.ubicacion %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.corte %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.fecha_ingreso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.fecha_ubicacion %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_recurso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_procesal %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_colmena %><% end %></td>
			</tr>
			<% end %>
			</tbody>
			</table>
		</div>
	</div>
	<div class="box-footer">
		<%= will_paginate @cases, :next_label => 'Adelante >>', :previous_label => '<< Atras' %>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('.tonotificado').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				$.ajax({
					method: "GET",
					url: "/api/estado/" + $(this).val() + "/notificado",
					success: function(data){
					}
				});
			});
			location.reload();
		});
		$('.tocerrado').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				$.ajax({
					method: "GET",
					url: "/api/estado/" + $(this).val() + "/cerrado",
					success: function(data){
					}
				});
			});
			location.reload();
		});
	});
</script>
