<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title">Causas</h3>
		<br/>
		<br/>
		<table>
			<tr>
				<td>Corte&nbsp;</td>
				<td>
					<select id="corte" name="corte" >
						<option value="all" <% if params[:corte] == 'all' %>selected="selected"<% else %>selected="selected"<% end %>>Todas</option>
						<option value="antofagasta" <% if params[:corte] == 'antofagasta' %>selected="selected"<% end %>>C.A. de Antofagasta</option>
						<option value="arica" <% if params[:corte] == 'arica' %>selected="selected"<% end %>>C.A. de Arica</option>
						<option value="chillan" <% if params[:corte] == 'chillan' %>selected="selected"<% end %>>C.A. de Chillan</option>
						<option value="concepcion" <% if params[:corte] == 'concepcion' %>selected="selected"<% end %>>C.A. de Concepción</option>
						<option value="copiapo" <% if params[:corte] == 'copiapo' %>selected="selected"<% end %>>C.A. de Copiapó</option>
						<option value="coyhaique" <% if params[:corte] == 'coyhaique' %>selected="selected"<% end %>>C.A. de Coyhaique</option>
						<option value="iquique" <% if params[:corte] == 'iquique' %>selected="selected"<% end %>>C.A. de Iquique</option>
						<option value="serena" <% if params[:corte] == 'serena' %>selected="selected"<% end %>>C.A. de La Serena</option>
						<option value="montt" <% if params[:corte] == 'montt' %>selected="selected"<% end %>>C.A. de Puerto Montt</option>
						<option value="arenas" <% if params[:corte] == 'arenas' %>selected="selected"<% end %>>C.A. de Punta Arenas</option>
						<option value="rancagua" <% if params[:corte] == 'rancagua' %>selected="selected"<% end %>>C.A. de Rancagua</option>
						<option value="miguel" <% if params[:corte] == 'miguel' %>selected="selected"<% end %>>C.A. de San Miguel</option>
						<option value="santiago" <% if params[:corte] == 'santiago' %>selected="selected"<% end %>>C.A. de Santiago</option>
						<option value="talca" <% if params[:corte] == 'talca' %>selected="selected"<% end %>>C.A. de Talca</option>
						<option value="temuco" <% if params[:corte] == 'temuco' %>selected="selected"<% end %>>C.A. de Temuco</option>
						<option value="valdivia" <% if params[:corte] == 'valdivia' %>selected="selected"<% end %>>C.A. de Valdivia</option>
						<option value="valparaiso" <% if params[:corte] == 'valparaiso' %>selected="selected"<% end %>>C.A. de Valparaíso</option>
						<option value="suprema" <% if params[:corte] == 'suprema' %>selected="selected"<% end %>>Corte Suprema</option>
					</select>
				</td>
			</tr>
		</table>
		<br/>
		<table>
			<tr>
				<td>Desde&nbsp;</td>
				<td>&nbsp;<input type="date" id="desde" name="desde" <% if params.has_key?(:desde) %>value="<%=params[:desde]%>"<% end %>></td>
			</tr>
			<tr>
				<td>Hasta&nbsp;</td>
				<td>&nbsp;<input type="date" id="hasta" name="hasta" <% if params.has_key?(:hasta) %>value="<%=params[:hasta]%>"<% end %>></td>
			</tr>
		</table>
		<br/>
		<table>
			<tr>
				<td>Buscar por:</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="radio" name="kind" class="kind" value="" <% if !params.has_key?(:kind) || (params.has_key?(:kind) && params[:kind]) == "" %>checked="checked"<%end%>>&nbsp;Ninguno</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="radio" name="kind" class="kind" value="rut" <% if params.has_key?(:kind) && params[:kind] == "rut" %>checked="checked"<%end%>>&nbsp;RUT</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="radio" name="kind" class="kind" value="rol" <% if params.has_key?(:kind) && params[:kind] == "rol" %>checked="checked"<%end%>>&nbsp;ROL</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="radio" name="kind" class="kind" value="ningreso" <% if params.has_key?(:kind) && params[:kind] == "ningreso" %>checked="checked"<%end%>>&nbsp;Número&nbsp;ingreso</td>
			</tr>
		</table>
		<br/>
		<input id="txtsearch" value="" class="form-control" placeholder="Texto busqueda" type="text"  <% if !params.has_key?(:kind) || (params.has_key?(:kind) && params[:kind]) == "" %>disabled<%end%>>
		<br/>
		<button id="btnsearch" type="button" class="btn btn-primary">Buscar!</button>
		<button id="btnexport" type="button" class="btn btn-primary">Exportar resultado en CSV</button>
	</div>
	
	<% if params.has_key?(:estadocolmena) || params.has_key?(:estadocolmenasituacion) %>
	<div class="box-body">
		<% if params.has_key?(:estadocolmena) && params[:estadocolmena] === 'ingresado' %>
			<button type="button" class="tonotificado btn btn-block btn-primary">Marcar como notificado</button>
		<% elsif params.has_key?(:estadocolmena) && params[:estadocolmena] === 'notificado' %>
			<button type="button" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
			<br/>
			<button type="button" class="toaceptadoobs btn btn-block btn-warning">Marcar como aceptado con observaciones</button>
			<br/>
			<button type="button" class="torechazado btn btn-block btn-danger">Marcar como rechazado</button>
		<% elsif params.has_key?(:estadocolmenasituacion) && (params[:estadocolmenasituacion] === 'aceptado' || params[:estadocolmenasituacion] === 'aceptadoobs' || params[:estadocolmenasituacion] === 'rechazado' || params[:estadocolmenasituacion] === 'traspasadooni') %>
			<button type="button" class="tocerrado btn btn-block btn-gray">Marcar como cerrado</button>
		<% elsif params.has_key?(:estadocolmena) && params[:estadocolmena] === 'enviadoexterno' %>
			<button type="button" class="tocerrado btn btn-block btn-gray">Marcar como cerrado</button>
		<% elsif params.has_key?(:estadocolmena) && params[:estadocolmena] == 'cerrado' %>
			<button type="button" class="tocerrado btn btn-block btn-palegreen">Re-abrir</button>
		<% end %>
	</div>
	<% end %>

	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
			<thead>
				<tr>
					<% if (params.has_key?(:estadocolmena) || params.has_key?(:estadocolmenasituacion)) && (params[:estadocolmena] === 'ingresado' || params[:estadocolmena] === 'enviadoexterno' || params[:estadocolmena] === 'notificado' || params[:estadocolmenasituacion] === 'aceptado' || params[:estadocolmenasituacion] === 'aceptadoobs' || params[:estadocolmenasituacion] === 'rechazado') %><th><button type="button" class="btn btn-block btn-info" id="btnall">all</button></th><% end %>
					<th>N. Ingreso</th>
					<th>Ubicacion</th>
					<th>Corte</th>
					<th>F. Ingreso</th>
					<th>F. Ubicacion</th>
					<th>E. Recurso</th>
					<th>E. Procesal</th>
					<th>E. Colmena</th>
				</tr>
			</thead>
			<tbody>
			<% @cases.each do |obj| %>
			<tr>
				<% if (params.has_key?(:estadocolmena) || params.has_key?(:estadocolmenasituacion)) && (params[:estadocolmena] === 'ingresado' || params[:estadocolmena] === 'enviadoexterno' || params[:estadocolmena] === 'notificado' || params[:estadocolmenasituacion] === 'aceptado' || params[:estadocolmenasituacion] === 'aceptadoobs' || params[:estadocolmenasituacion] === 'rechazado') %><td><input type="checkbox" name="select" value="<%=obj.id%>"></td><% end %>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.ningreso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.ubicacion %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.corte %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.fecha_ingreso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.fecha_ubicacion %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_recurso %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_procesal %><% end %></td>
				<td><%= link_to controller: "case", action: "show", id: obj.id do %><%= obj.estado_colmena %><% end %></td>
			</tr>
			<% end %>
			</tbody>
			</table>
		</div>
	</div>
	<div class="box-footer">
		<%= will_paginate @cases, :next_label => 'Adelante >>', :previous_label => '<< Atras' %>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('#btnall').on('click', function(event){
			event.preventDefault();
			$('input[name="select"]:not(:checked)').each(function(index){
				$(this).prop('checked', true);
			});
		});
		$('.tonotificado').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				$.ajax({
					method: "GET",
					url: "/api/estado/" + $(this).val() + "/notificado",
					success: function(data){
					}
				});
			});
			location.reload();
		});
		$('.tocerrado').on('click', function(){
			$('input[name="select"]:checked').each(function(index){
				$.ajax({
					method: "GET",
					url: "/api/estado/" + $(this).val() + "/cerrado",
					success: function(data){
					}
				});
			});
			location.reload();
		});
	});
</script>
