<!-- Detalle causa -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-files-o"></i>
		<h3 class="box-title"><%= @case.caratulado ? @case.caratulado : "" %></h3>
	</div>
	<div class="box-body">
		<dl class="dl-horizontal">
			<dt>ningreso</dt>
			<dd><%=@case.ningreso%></dd>
			<dt>rol_rit</dt>
			<dd><%=@case.rol_rit%></dd>
			<dt>ruc</dt>
			<dd><%=@case.ruc%></dd>
			<dt>Ubicacion</dt>
			<dd><%=@case.ubicacion%></dd>
			<dt>Corte</dt>
			<dd><%=@case.corte%></dd>
			<dt>Recurso</dt>
			<dd><%=@case.recurso%></dd>
			<dt>Fecha ingreso</dt>
			<dd><%=@case.fecha_ingreso%></dd>
			<dt>Fecha ubicacion</dt>
			<dd><%=@case.fecha_ubicacion%></dd>
			<dt>Estado recurso</dt>
			<dd><%=@case.estado_recurso%></dd>
			<dt>Estado procesal</dt>
			<dd><%=@case.estado_procesal%></dd>
			<dt>Estado colmena</dt>
			<dd><%=@case.estado_colmena%></dd>
			<dt>Estado situacion</dt>
			<dd><%=@case.estado_colmena_situacion%></dd>
			<dt>Link detalle</dt>
			<dd><a target="_blank" href="<%=@case.link_caso_detalle%>"><i class="fa fa-share"></i> <span>Poder Judicial</span></a></dd>
		</dl>
	</div>
	<div class="box-body">
		<% case @case.estado_colmena %>
		<% when 'ingresado' %>
			<button type="button" caseid="<%=@case.id%>" class="tonotificado btn btn-block btn-primary">Marcar como notificado</button>
		<% when 'notificado' %>
			<% case @case.estado_colmena_situacion %>
			<% when 'aceptado' %>
				<button type="button" caseid="<%=@case.id%>" class="toenviadoexterno btn btn-block btn-info" data-toggle="modal" data-target="#modal-info">Enviar a ONI</button>
				<!-- Modal con formulario ingreso causa a ONI. -->
				<div class="modal modal-info fade" id="modal-info" style="display: none;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title"><%=@case.ningreso%> a ONI</h4>
							</div>
							<input type="hidden" id="prov_id" name="prov_id" value="100">
							<input type="hidden" id="prov_hash" name="prov_hash" value="e9d348d2fbb28db50b11ad84a793d1d78b821cd7">
							<div class="modal-body">
								<div class="form-group">
									<label for="rol">ROL</label>
									<input id="rol" class="form-control" type="text" name="rol" value="<%=@case.rol_rit%>" />
								</div>
								<div class="form-group">
									<label for="corte">Corte</label>
									<input id="corte" class="form-control" type="text" name="corte" value="<%=@case.corte%>" />
									<!-- Tiene que ser numerico -->
								</div>
								<div class="form-group">
									<label for="periodo">Periodo</label>
									<input id="periodo" class="form-control" type="text" name="periodo" value="<%=@case.ano%>" />
								</div>
								<div class="form-group">
									<label for="finter">Fecha Inter</label>
									<input id="finter" class="form-control" type="text" name="finter" placeholder="dd/mm/yyyy" value="<%=@case.fecha_ingreso%>" />
								</div>
								<div class="form-group">
									<label for="reclamante">Reclamante</label>
									<% reclamante = CaseLitigant.where(case_id: @case.id, sujeto: "Recurrente").first %>
									<input id="reclamante" class="form-control" type="text" name="reclamante" value="<%= (reclamante.nil?) ? "" : reclamante.rut%>" />
								</div>
								<div class="form-group">
									<label for="materia">Materia</label>
									<select id="materia" name="materia" class="form-control">
										<option value="1" selected>Adecuación Precio base</option>
										<option value="2">Alza de Precio por Tabla</option>
										<option value="3">Cobertura CAEC</option>
										<option value="4">Cobertura GES</option>
										<option value="5">Cotizaciones de Salud</option>
										<option value="6">Ley de Urgencia</option>
										<option value="7">Negativa por Preexistencia</option>
										<option value="8">SIL</option>
										<option value="9">Licencias Médicas</option>
										<option value="10">Término de Contrato</option>
										<option value="11">Bonificación del plan complementario</option>
										<option value="12">Negativa por Cirugía Plástica</option>
										<option value="13">Negativa por Prestaciones no Aranceladas</option>
										<option value="14">Negativa por Homologación de Prestación</option>
										<option value="15">Cobertura Hospitalización Domiciliaria</option>
										<option value="16">Adecuación por Excedentes</option>
										<option value="17">Adecuación por Beneficios</option>
										<option value="19">Adecuación GES</option>
										<option value="18">Otras</option>
									</select>
									<!-- <input id="materia" class="form-control" type="text" name="materia" value="" /> -->
								</div>
								<div class="form-group">
									<label for="fcarta">Fecha Carta</label>
									<input id="fcarta" class="form-control" type="text" format="dd/MM/yyyy" name="fcarta" placeholder="dd/mm/yyyy" value="" />
								</div>
								<div class="form-group">
									<label for="abogado">Abogado</label>
									<% abogado = CaseLitigant.where(case_id: @case.id, sujeto: "Ab. Recurrente").first %>
									<input id="abogado" class="form-control" type="text" name="abogado" value="<%= (abogado.nil?) ? "" : abogado.rut%>" />
									<input id="abogado_nombres" class="form-control" type="text" name="abogado_nombres" value="<%= (abogado.nil?) ? "" : abogado.razon_social%>" placeholder="Nombres" />
									<input id="abogado_apaterno" class="form-control" type="text" name="abogado_apaterno" value="<%= (abogado.nil?) ? "" : abogado.razon_social%>" placeholder="Apellido materno" />
									<input id="abogado_amaterno" class="form-control" type="text" name="abogado_amaterno" value="<%= (abogado.nil?) ? "" : abogado.razon_social%>" placeholder="Apellido paterno" />
								</div>
								<!-- <div class="form-group">
									<label for="usuario">Usuario</label> -->
									<input id="usuario" class="form-control" type="hidden" name="usuario" value="<%=current_user.rut%>" />
								<!-- </div> -->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
								<button id="btn_send_oni" type="button" class="btn btn-outline">Enviar a ONI</button>
							</div>
						</div>
					</div>
				</div>
			<% when 'aceptadoobs' %>
				<button type="button" caseid="<%=@case.id%>" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
			<% when 'rechazado' %>
			<% when 'traspasadooni' %>
			<% else %>
				<button type="button" caseid="<%=@case.id%>" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
				<br/>
				<button type="button" caseid="<%=@case.id%>" class="toaceptadoobs btn btn-block btn-warning">Marcar como aceptado con observaciones</button>
				<br/>
				<button type="button" caseid="<%=@case.id%>" class="torechazado btn btn-block btn-danger">Marcar como rechazado</button>
			<% end %>
		<% when 'enviadoexterno' %>
			<% if @case.estado_colmena_situacion != 'traspasadooni' %>
				<button type="button" caseid="<%=@case.id%>" class="totraspasadooni btn btn-block btn-info">Marcar como traspasado a ONI</button>
			<% else %>
				<button type="button" caseid="<%=@case.id%>" class="tocerrado btn btn-block btn-gray">Marcar como cerrado</button>
			<% end %>
		<% end %>
	</div>
</div>
<% if @case.case_litigants %>
<!-- Litigantes -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-users"></i>
		<h3 class="box-title">Litigantes</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Sujeto</th>
						<th>Rut</th>
						<th>Persona</th>
						<th>Razon social</th>
					</tr>
				</thead>
				<tbody>
				<% @case.case_litigants.each do |litigant| %>
					<tr>
						<td><%=litigant.sujeto%></td>
						<td><%=litigant.rut%></td>
						<td><%=litigant.persona%></td>
						<td><%=litigant.razon_social%></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
<% if @case.case_histories %>
<!-- Historia -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-history"></i>
		<h3 class="box-title">Historia</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Año</th>
						<th>Doc</th>
						<th>Sala</th>
						<th>Fecha</th>
						<th>Tramite</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
				<% @case.case_histories.each do |history| %>
					<tr>
						<td><%=history.folio%></td>
						<td><%=history.ano%></td>
						<td>
							<% if !history.link_doc.blank? %>
							<a target="_blank" href="<%=history.link_doc%>"><i class="fa fa-file-archive-o"></i></a>
							<% end %>
						</td>
						<td><%=history.sala%></td>
						<td><%=history.fecha_tramite%></td>
						<td><%=history.tramite%></td>
						<td><%=history.estado%></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
<script type="text/javascript">
	$(function(){
		$('.tonotificado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/estado/" + $(this).attr('caseid') + "/notificado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toaceptado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/aceptado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toaceptadoobs').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/aceptadoobs",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.torechazado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/rechazado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toenviadoexterno').on('click', function(){

			$('#btn_send_oni').click(function(event){
				event.preventDefault();
				if(checkData()){
					obj = getData();
					console.log(obj);









$.ajax({
    url: "http://190.96.77.22:8180/wsWebAfiliados/rest/recursoProteccionRest/grabarRecursoProteccion",
    type: "POST",
    headers: {
        "Content-Type": "application/json; charset=utf-8",
    },
    contentType: "application/json",
    data: JSON.stringify(obj)
    // data: JSON.stringify({
    //     "proveedor": {
    //         "id": "100",
    //         "hash": "e9d348d2fbb28db50b11ad84a793d1d78b821cd7"
    //     },
    //     "reclamante": {
    //         "rut": "17937305-k"
    //     },
    //     "fechaInter": "02/08/2013",
    //     "rol": "48454",
    //     "corteApelacion": {
    //         "id": "5"
    //     },
    //     "periodo": "2071655",
    //     "materia": {
    //         "id": "4"
    //     },
    //     "fechaCarta": "02/12/2012",
    //     "abogado": {
    //         "apePaterno": "zart",
    //         "nombres": "andres antonio",
    //         "apeMaterno": "saavedra",
    //         "rut": "10354943-4"
    //     },
    //     "usuario": {
    //         "rut": "162411356-9"
    //     }
    // })
})
.done(function(data, textStatus, jqXHR) {
    console.log("HTTP Request Succeeded: " + jqXHR.status);
    console.log(data);
})
.fail(function(jqXHR, textStatus, errorThrown) {
    console.log("HTTP Request Failed");
})
.always(function() {
    /* ... */
});











					// $.ajax({
					// 	method: "GET",
					// 	url: "/api/estado/" + $(this).attr('caseid') + "/enviadoexterno",
					// 	success: function(data){
					// 		location.reload();
					// 	}
					// });


				}
			});
			
		});
		$('.totraspasadooni').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/traspasadooni",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.tocerrado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/estado/" + $(this).attr('caseid') + "/cerrado",
				success: function(data){
					location.reload();
				}
			});
		});
	});

	function getCorteID(str){
		str = str.split("C.A. de ").pop().trim();
		switch(str){
			// case 'Corte de Apelaciones de Arica':
			case "Arica":
				corte_int = 1;
			break;
			// case 'Corte de Apelaciones de Iquique':
			case "Iquique":
				corte_int = 2;
			break;
			// case 'Corte de Apelaciones de Antofagasta':
			case "Antofagasta":
				corte_int = 3;
			break;
			// case 'Corte de Apelaciones de Copiapo':
			case "Copiapo":
				corte_int = 4;
			break;
			// case 'Corte de Apelaciones de La Serena':
			case "La Serena":
				corte_int = 5;
			break;
			// case 'Corte de Apelaciones de Valparaiso':
			case "Valparaiso":
				corte_int = 6;
			break;
			// case 'Corte de Apelaciones de Santiago':
			case "Santiago":
				corte_int = 7;
			break;
			// case 'Corte de Apelaciones de San Miguel':
			case 'San Miguel':
				corte_int = 8;
			break;
			// case 'Corte de Apelaciones de Rancagua':
			case "Rancagua":
				corte_int = 9;
			break;
			// case 'Corte de Apelaciones de Talca':
			case "Talca":
				corte_int = 10;
			break;
			// case 'Corte de Apelaciones de Chillán':
			case "Chillán":
				corte_int = 11;
			break;
			// case 'Corte de Apelaciones de Concepción':
			case "Concepción":
				corte_int = 12;
			break;
			// case 'Corte de Apelaciones de Temuco':
			case "Temuco":
				corte_int = 13;
			break;
			// case 'Corte de Apelaciones de Valdivia':
			case "Valdivia":
				corte_int = 14;
			break;
			// case 'Corte de Apelaciones de Puerto Montt':
			case "Puerto Montt":
				corte_int = 15;
			break;
			// case 'Corte de Apelaciones de Coyhaique':
			case "Coyhaique":
				corte_int = 16;
			break;
			// case 'Corte de Apelaciones de  Punta Arenas':
			case "Punta Arenas":
				corte_int = 17;
			break;
			default:
				console.log(str);
				console.log("entre al default");
				corte_int = 18;
			break;
		}
		return corte_int;
	}

	function checkPeriodo(ano){
		if(ano == '' || ano == ' ' || ano == 'undefined'){
			ano = 1;
		}else if(ano < 2000){
			ano = ano + 2000;
		}
		return ano * 1
	}

	function getData(){
		var rol = $('#rol').val().split("-");
		rol = rol[1];//.trim();
		var obj = {
			proveedor: {id: $('#prov_id').val(), hash:$('#prov_hash').val()},
			rol: rol,
			corteApelacion: { id: getCorteID($('#corte').val()) },
			periodo: checkPeriodo($('#periodo').val()),
			fechaInter: $('#finter').val(),
			reclamante: { rut: $('#reclamante').val() },
			materia: { id: $('#materia').val() },
			fechaCarta: $('#fcarta').val(),
			abogado: { rut: $('#abogado').val(), nombres: $('#abogado_nombres').val(), apePaterno: $('#abogado_apaterno').val(), apeMaterno: $('#abogado_amaterno').val() },
			usuario: { rut: $('#usuario').val() }
		}
		return obj;
	}

	function checkData(){
		/**
		 * Verificamos obtenemos el rol
		 */
		var rol = $('#rol').val().split("-");
		if(rol[1] != undefined){
			rol = rol[1];
		}
		var flag = true;
		if(isEmpty(rol)){
			$('#rol').css('border', '5px solid #ffdddd').css('background', 'pink');
			$('#rol').focus();
			flag = false;
		}else{
			$('#rol').css('border', '#d2d6de').css('background', 'white');
			flag = true;
		}
		flag = checkField('#corte');
		flag = checkField('#periodo');
		flag = checkField('#finter');
		flag = checkField('#reclamante');
		flag = checkField('#materia');
		flag = checkField('#fcarta');
		flag = checkField('#abogado');
		flag = checkField('#abogado_nombres');
		flag = checkField('#abogado_apaterno');
		flag = checkField('#abogado_amaterno');
		flag = checkField('#usuario');
		return flag;
	}

	/**
	 * HELPERS
	 */
	function checkField(selector){
		flag = true;
		if(isEmpty($(selector).val())){
			$(selector).css('border', '5px solid #ffdddd').css('background', 'pink');
			$(selector).focus();
			flag = false;
		}else{
			$(selector).css('border', '#d2d6de').css('background', 'white');
			flag = true;
		}
		return flag;
	}
	function isEmpty(str) {
		return (!str || 0 === str.length);
	}
	function isBlank(str) {
		return (!str || /^\s*$/.test(str));
	}
</script>
