<!-- Detalle causa -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-files-o"></i>
		<h3 class="box-title"><%= @case.caratulado ? @case.caratulado : "" %></h3>
	</div>
	<div class="box-body">
		<dl class="dl-horizontal">
			<dt>ningreso</dt>
			<dd><%=@case.ningreso%></dd>
			<dt>rol_rit</dt>
			<dd><%=@case.rol_rit%></dd>
			<dt>ruc</dt>
			<dd><%=@case.ruc%></dd>
			<dt>Ubicacion</dt>
			<dd><%=@case.ubicacion%></dd>
			<dt>Corte</dt>
			<dd><%=@case.corte%></dd>
			<dt>Recurso</dt>
			<dd><%=@case.recurso%></dd>
			<dt>Fecha ingreso</dt>
			<dd><%=@case.fecha_ingreso%></dd>
			<dt>Fecha ubicacion</dt>
			<dd><%=@case.fecha_ubicacion%></dd>
			<dt>Estado recurso</dt>
			<dd><%=@case.estado_recurso%></dd>
			<dt>Estado procesal</dt>
			<dd><%=@case.estado_procesal%></dd>
			<dt>Estado colmena</dt>
			<dd><%=@case.estado_colmena%></dd>
			<dt>Estado situacion</dt>
			<dd><%=@case.estado_colmena_situacion%></dd>
			<dt>Link detalle</dt>
			<dd><a target="_blank" href="<%=@case.link_caso_detalle%>"><i class="fa fa-share"></i> <span>Poder Judicial</span></a></dd>
		</dl>
	</div>
	<div class="box-body">
		<% case @case.estado_colmena %>
		<% when 'ingresado' %>
			<button type="button" caseid="<%=@case.id%>" class="tonotificado btn btn-block btn-primary">Marcar como notificado</button>
		<% when 'notificado' %>
			<% case @case.estado_colmena_situacion %>
			<% when 'aceptado' %>
				<button type="button" caseid="<%=@case.id%>" class="toenviadoexterno btn btn-block btn-info" data-toggle="modal" data-target="#modal-info">Enviar a ONI</button>
				<!-- Modal con formulario ingreso causa a ONI. -->
				<div class="modal modal-info fade" id="modal-info" style="display: none;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title"><%=@case.ningreso%> a ONI</h4>
							</div>
							<input type="hidden" id="prov_id" name="prov_id" value="100">
							<input type="hidden" id="prov_hash" name="prov_hash" value="e9d348d2fbb28db50b11ad84a793d1d78b821cd7">
							<div class="modal-body">
								<div class="form-group">
									<label for="rol">ROL</label>
									<input id="rol" class="form-control" type="text" name="rol" value="<%=@case.rol_rit%>" />
								</div>
								<div class="form-group">
									<label for="corte">Corte</label>
									<input id="corte" class="form-control" type="text" name="corte" value="<%=@case.corte%>" />
									<!-- Tiene que ser numerico -->
								</div>
								<div class="form-group">
									<label for="periodo">Periodo</label>
									<input id="periodo" class="form-control" type="text" name="periodo" value="<%=@case.ano%>" />
								</div>
								<div class="form-group">
									<label for="finter">Fecha Inter</label>
									<input id="finter" class="form-control" type="text" name="finter" value="<%=@case.fecha_ingreso%>" />
								</div>
								<div class="form-group">
									<label for="reclamante">Reclamante</label>
									<input id="reclamante" class="form-control" type="text" name="reclamante" value="<%#=@case.case_litigants.first.rut%>" />
								</div>
								<div class="form-group">
									<label for="materia">Materia</label>
									<input id="materia" class="form-control" type="text" name="materia" value="" />
								</div>
								<div class="form-group">
									<label for="fcarta">Fecha Carta</label>
									<input id="fcarta" class="form-control" type="text" name="fcarta" value="" />
								</div>
								<div class="form-group">
									<label for="abogado">Abogado</label>
									<input id="abogado" class="form-control" type="text" name="abogado" value="" />
								</div>
								<div class="form-group">
									<label for="usuario">Usuario</label>
									<input id="usuario" class="form-control" type="text" name="usuario" value="" />
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
								<button id="btn_send_oni" type="button" class="btn btn-outline">Enviar a ONI</button>
							</div>
						</div>
					</div>
				</div>
			<% when 'aceptadoobs' %>
				<button type="button" caseid="<%=@case.id%>" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
			<% when 'rechazado' %>
			<% when 'traspasadooni' %>
			<% else %>
				<button type="button" caseid="<%=@case.id%>" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
				<br/>
				<button type="button" caseid="<%=@case.id%>" class="toaceptadoobs btn btn-block btn-warning">Marcar como aceptado con observaciones</button>
				<br/>
				<button type="button" caseid="<%=@case.id%>" class="torechazado btn btn-block btn-danger">Marcar como rechazado</button>
			<% end %>
		<% when 'enviadoexterno' %>
			<% if @case.estado_colmena_situacion != 'traspasadooni' %>
				<button type="button" caseid="<%=@case.id%>" class="totraspasadooni btn btn-block btn-info">Marcar como traspasado a ONI</button>
			<% else %>
				<button type="button" caseid="<%=@case.id%>" class="tocerrado btn btn-block btn-gray">Marcar como cerrado</button>
			<% end %>
		<% end %>
	</div>
</div>
<% if @case.case_litigants %>
<!-- Litigantes -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-users"></i>
		<h3 class="box-title">Litigantes</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Sujeto</th>
						<th>Rut</th>
						<th>Persona</th>
						<th>Razon social</th>
					</tr>
				</thead>
				<tbody>
				<% @case.case_litigants.each do |litigant| %>
					<tr>
						<td><%=litigant.sujeto%></td>
						<td><%=litigant.rut%></td>
						<td><%=litigant.persona%></td>
						<td><%=litigant.razon_social%></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
<% if @case.case_histories %>
<!-- Historia -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-history"></i>
		<h3 class="box-title">Historia</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Año</th>
						<th>Doc</th>
						<th>Sala</th>
						<th>Fecha</th>
						<th>Tramite</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
				<% @case.case_histories.each do |history| %>
					<tr>
						<td><%=history.folio%></td>
						<td><%=history.ano%></td>
						<td>
							<% if !history.link_doc.blank? %>
							<a target="_blank" href="<%=history.link_doc%>"><i class="fa fa-file-archive-o"></i></a>
							<% end %>
						</td>
						<td><%=history.sala%></td>
						<td><%=history.fecha_tramite%></td>
						<td><%=history.tramite%></td>
						<td><%=history.estado%></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
<script type="text/javascript">
	$(function(){
		$('.tonotificado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/estado/" + $(this).attr('caseid') + "/notificado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toaceptado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/aceptado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toaceptadoobs').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/aceptadoobs",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.torechazado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/rechazado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toenviadoexterno').on('click', function(){

			/**
			 * Desplegar formulario.
			 */
			
			/**
			 * Bindear envio formulario.
			 */
			
			/**
			 * Validar y manejo de errores.
			 */
			
			/**
			 * Enviar formulario
			 */
			
			/**
			 * Analizar respuesta y marcar o no como enviado a ONI segun corresponda (Con la funcion mas abajo.)
			 */

			// $.ajax({
			// 	method: "GET",
			// 	url: "/api/estado/" + $(this).attr('caseid') + "/enviadoexterno",
			// 	success: function(data){
			// 		location.reload();
			// 	}
			// });
			$('#btn_send_oni').click(function(event){
				event.preventDefault();
				var rol = $('#rol').val().split("-");
				rol = rol[1].trim();
				var obj = {
					proveedor: {id: $('#prov_id').val(), hash:$('#prov_hash').val()},
					rol: rol,
					corteApelacion: { id: getCorteID($('#corte').val()) },
					periodo: checkPeriodo($('#periodo').val()),
					fechaInter: 0,
					reclamante: { rut: 0 },
					materia: { id: 0 },
					fechaCarta: 0,
					abogado: { rut: 0, nombres: "", apePaterno: "", apeMaterno: "" },
					usuario: { rut: 0 }
				}
				console.log(obj);
			});
			
		});
		$('.totraspasadooni').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/traspasadooni",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.tocerrado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/estado/" + $(this).attr('caseid') + "/cerrado",
				success: function(data){
					location.reload();
				}
			});
		});
	});

	function getCorteID(str){
		str = str.split("C.A. de ").pop().trim();
		console.log(str);
		var str = 1;
		switch(str){
			case 'Corte de Apelaciones de Arica':
				corte_int = 1;
			break;
			case 'Corte de Apelaciones de Iquique':
				corte_int = 2;
			break;
			case 'Corte de Apelaciones de Antofagasta':
				corte_int = 3;
			break;
			case 'Corte de Apelaciones de Copiapo':
				corte_int = 4;
			break;
			case 'Corte de Apelaciones de La Serena':
				corte_int = 5;
			break;
			case 'Corte de Apelaciones de Valparaiso':
				corte_int = 6;
			break;
			case 'Corte de Apelaciones de Santiago':
				corte_int = 7;
			break;
			case 'Corte de Apelaciones de San Miguel':
				corte_int = 8;
			break;
			case 'Corte de Apelaciones de Rancagua':
				corte_int = 9;
			break;
			case 'Corte de Apelaciones de Talca':
				corte_int = 10;
			break;
			case 'Corte de Apelaciones de Chillán':
				corte_int = 11;
			break;
			case 'Corte de Apelaciones de Concepción':
				corte_int = 12;
			break;
			case 'Corte de Apelaciones de Temuco':
				corte_int = 13;
			break;
			case 'Corte de Apelaciones de Valdivia':
				corte_int = 14;
			break;
			case 'Corte de Apelaciones de Puerto Montt':
				corte_int = 15;
			break;
			case 'Corte de Apelaciones de Coyhaique':
				corte_int = 16;
			break;
			case 'Corte de Apelaciones de  Punta Arenas':
				corte_int = 17;
			break;
			default:
				corte_int = 1;
			break;
		}
		return 1;
	}

	function checkPeriodo(ano){
		if(ano == '' || ano == ' ' || ano == 'undefined'){
			ano = 1;
		}else if(ano < 2000){
			ano = ano + 2000;
		}
		return ano * 1
	}
</script>
