<!-- Detalle causa -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-files-o"></i>
		<h3 class="box-title"><%= @case.caratulado ? @case.caratulado : "" %></h3>
	</div>
	<div class="box-body">
		<dl class="dl-horizontal">
			<dt>ningreso</dt>
			<dd><%=@case.ningreso%></dd>
			<dt>rol_rit</dt>
			<dd><%=@case.rol_rit%></dd>
			<dt>ruc</dt>
			<dd><%=@case.ruc%></dd>
			<dt>Ubicacion</dt>
			<dd><%=@case.ubicacion%></dd>
			<dt>Corte</dt>
			<dd><%=@case.corte%></dd>
			<dt>Recurso</dt>
			<dd><%=@case.recurso%></dd>
			<dt>Fecha ingreso</dt>
			<dd><%=@case.fecha_ingreso%></dd>
			<dt>Fecha ubicacion</dt>
			<dd><%=@case.fecha_ubicacion%></dd>
			<dt>Estado recurso</dt>
			<dd><%=@case.estado_recurso%></dd>
			<dt>Estado procesal</dt>
			<dd><%=@case.estado_procesal%></dd>
			<dt>Estado colmena</dt>
			<dd><%=@case.estado_colmena%></dd>
			<dt>Estado situacion</dt>
			<dd><%=@case.estado_colmena_situacion%></dd>
			<dt>Link detalle</dt>
			<dd><a target="_blank" href="<%=@case.link_caso_detalle%>"><i class="fa fa-share"></i> <span>Poder Judicial</span></a></dd>
		</dl>
	</div>
	<div class="box-body">
		<% case @case.estado_colmena %>
		<% when 'ingresado' %>
			<button type="button" caseid="<%=@case.id%>" class="tonotificado btn btn-block btn-primary">Marcar como notificado</button>
		<% when 'notificado' %>
			<% case @case.estado_colmena_situacion %>
			<% when 'aceptado' %>
				<button type="button" caseid="<%=@case.id%>" class="toenviadoexterno btn btn-block btn-info" data-toggle="modal" data-target="#modal-info">Enviar a ONI</button>
				<!-- Modal con formulario ingreso causa a ONI. -->
				<div class="modal modal-info fade" id="modal-info" style="display: none;">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<h4 class="modal-title"><%=@case.ningreso%></h4>
							</div>
							<div class="modal-body">
								<p>One fine body…</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cerrar</button>
								<button type="button" class="btn btn-outline">Enviar a ONI</button>
							</div>
						</div>
					</div>
				</div>
			<% when 'aceptadoobs' %>
				<button type="button" caseid="<%=@case.id%>" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
			<% when 'rechazado' %>
			<% when 'traspasadooni' %>
			<% else %>
				<button type="button" caseid="<%=@case.id%>" class="toaceptado btn btn-block btn-success">Marcar como aceptado</button>
				<br/>
				<button type="button" caseid="<%=@case.id%>" class="toaceptadoobs btn btn-block btn-warning">Marcar como aceptado con observaciones</button>
				<br/>
				<button type="button" caseid="<%=@case.id%>" class="torechazado btn btn-block btn-danger">Marcar como rechazado</button>
			<% end %>
		<% when 'enviadoexterno' %>
			<% if @case.estado_colmena_situacion != 'traspasadooni' %>
				<button type="button" caseid="<%=@case.id%>" class="totraspasadooni btn btn-block btn-info">Marcar como traspasado a ONI</button>
			<% else %>
				<button type="button" caseid="<%=@case.id%>" class="tocerrado btn btn-block btn-gray">Marcar como cerrado</button>
			<% end %>
		<% end %>
	</div>
</div>
<% if @case.case_litigants %>
<!-- Litigantes -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-users"></i>
		<h3 class="box-title">Litigantes</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Sujeto</th>
						<th>Rut</th>
						<th>Persona</th>
						<th>Razon social</th>
					</tr>
				</thead>
				<tbody>
				<% @case.case_litigants.each do |litigant| %>
					<tr>
						<td><%=litigant.sujeto%></td>
						<td><%=litigant.rut%></td>
						<td><%=litigant.persona%></td>
						<td><%=litigant.razon_social%></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
<% if @case.case_histories %>
<!-- Historia -->
<div class="box box-solid">
	<div class="box-header with-border">
		<i class="fa fa-history"></i>
		<h3 class="box-title">Historia</h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<table class="table no-margin">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Año</th>
						<th>Doc</th>
						<th>Sala</th>
						<th>Fecha</th>
						<th>Tramite</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody>
				<% @case.case_histories.each do |history| %>
					<tr>
						<td><%=history.folio%></td>
						<td><%=history.ano%></td>
						<td>
							<% if !history.link_doc.blank? %>
							<a target="_blank" href="<%=history.link_doc%>"><i class="fa fa-file-archive-o"></i></a>
							<% end %>
						</td>
						<td><%=history.sala%></td>
						<td><%=history.fecha_tramite%></td>
						<td><%=history.tramite%></td>
						<td><%=history.estado%></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>
<script type="text/javascript">
	$(function(){
		$('.tonotificado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/estado/" + $(this).attr('caseid') + "/notificado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toaceptado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/aceptado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toaceptadoobs').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/aceptadoobs",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.torechazado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/rechazado",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.toenviadoexterno').on('click', function(){

			/**
			 * Desplegar formulario.
			 */
			
			/**
			 * Bindear envio formulario.
			 */
			
			/**
			 * Validar y manejo de errores.
			 */
			
			/**
			 * Enviar formulario
			 */
			
			/**
			 * Analizar respuesta y marcar o no como enviado a ONI segun corresponda (Con la funcion mas abajo.)
			 */

			// $.ajax({
			// 	method: "GET",
			// 	url: "/api/estado/" + $(this).attr('caseid') + "/enviadoexterno",
			// 	success: function(data){
			// 		location.reload();
			// 	}
			// });
		});
		$('.totraspasadooni').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/situacion/" + $(this).attr('caseid') + "/traspasadooni",
				success: function(data){
					location.reload();
				}
			});
		});
		$('.tocerrado').on('click', function(){
			$.ajax({
				method: "GET",
				url: "/api/estado/" + $(this).attr('caseid') + "/cerrado",
				success: function(data){
					location.reload();
				}
			});
		});
	});
</script>
