<div class="box box-info">
	<div class="box-header with-border">
		<h3 class="box-title">Causas</h3>
	</div>
	<!-- /.box-header -->
	<div class="box-body">
		<div class="table-responsive">
			<div class="row">
				<div class="col-sm-3">
					<%= form_tag(cases_path, method: :get) do %>
						<%= text_field_tag :term, params[:term] %>
						<%= submit_tag 'Buscar', name: nil %>
					<% end %>
				</div>
				<div class="col-sm-9"></div>
			</div>
			<div class="row">
				<dir class="col-sm-12">
				<table id="casesresume" class="table table-striped table-bordered" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Numero Ingreso</th>
							<th>Fecha Ingreso</th>
							<th>Ubicacion</th>
							<th>Fecha Ubicacion</th>
							<th>Corte</th>
							<th>Caratulado</th>
						</tr>
					</thead>
					<tbody>
						<% @cases.each do |obj| %>
							<tr>
								<td><a href="http://corte.poderjudicial.cl<%=obj.public_detail_url%>" target="_blank"><%=obj.entry_number%></a></td>
								<td><%=obj.entry_date%></td>
								<td><%=obj.location%></td>
								<td><%=obj.location_date%></td>
								<td><%=obj.court%></td>
								<td><a href="/cases/<%=obj.id%>/edit" target="_self"><%=obj.caption%></a></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				</dir>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="col-sm-7">
					<%= will_paginate @cases %>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('#casesresume').DataTable();
	} );
</script>