<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>COLMENA court</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'AdminLTE.min', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'skin-blue.min', media: 'all', 'data-turbolinks-track': 'reload' %>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<%= render "shared/header" %>
		<%= render "shared/aside_sidebar" %>
		<div class="content-wrapper">
			<section class="content">
				<%= render "shared/notice" %>
				<%= yield %>
			</section>
		</div>
		<%= render "shared/footer" %>
	</div>
	<%= javascript_include_tag 'https://code.jquery.com/jquery-2.2.4.min.js', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'jquery.slimscroll.min', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'fastclick.min', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'app.min', 'data-turbolinks-track': 'reload' %>
	<script type="text/javascript">
		$(function(){
			// Funcion boton busqueda
			$('#btnsearch, #btnexport').click(function(event){
				event.preventDefault();
				// Obtengo los valores del formulario de busqueda
				var txtsearch = $('#txtsearch').val();
				var kind = $("input[name='kind']:checked").val();
				var corte = $('#corte').val();
				var desde = $('#desde').val();
				var hasta = $('#hasta').val();
				// Construyo el objeto como una query GET
				var query = '';
				// Check txtsearch
				if(txtsearch != undefined && txtsearch != null && txtsearch.length > 0){
					if(query.length > 0){
						query = query + '&txtsearch=' + txtsearch;
					}else{
						query = '?txtsearch=' + txtsearch;
					}
				}
				// Check kind
				if(kind != undefined && kind != null && kind.length > 0){
					if(query.length > 0){
						query = query + '&kind=' + kind;
					}else{
						query = '?kind=' + kind;
					}
				}
				// Check corte
				if(corte != undefined && corte != null && corte.length > 0){
					if(query.length > 0){
						query = query + '&corte=' + corte;
					}else{
						query = '?corte=' + corte;
					}
				}
				// Check desde
				if(desde != undefined && desde != null && desde.length > 0){
					if(query.length > 0){
						query = query + '&desde=' + desde;
					}else{
						query = '?desde=' + desde;
					}
				}
				// Check desde
				if(hasta != undefined && hasta != null && hasta.length > 0){
					if(query.length > 0){
						query = query + '&hasta=' + hasta;
					}else{
						query = '?hasta=' + hasta;
					}
				}
				// Check query
				if(query != undefined && query != null && query.length > 0){
					var id = $(this).attr("id");
					if(id == 'btnexport'){
						document.location.href = 'case_export' + query;
					}else{
						document.location.href = query;
					}
				}
			});
			// Comportamiento botones link carga loader
			$('a, #btnsearch, #btnexport').click(function(event){
				$('#trama').show();
			});
			// Comportamiento filtro busqueda txtsearch & kind
			$('.kind').click(function(event){
				if($(this).val().length <= 0){
					$('#txtsearch').prop('disabled', true);
				}else{
					$('#txtsearch').prop('disabled', false);
				}
			});
		});		
	</script>
	<!-- Loader -->
	<div id="trama" style="position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(255,255,255,.8);z-index:100;display:none;">
		<div style="position:absolute;top:50%;left:50%;" >
			<img src="loader.gif" style="margin-top:-64px;">
			<br/>
			<span style="color:black;font-weight:bold;">Cargando...</span>
		</div>
	</div>
	<!-- Loader fin -->
</body>
</html>
